@import '../../sass/base/colors.scss';
@import '../../sass/base/box-shadow.scss';

.quick_start {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba($primary-light, .1);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.wrapper_text__quick_start {
    margin-bottom: 20px;
    flex: 1 1 100%;
    background-color: $accent-for-text;
    @extend %box-shadow-inset;
    &:last-child {
        margin-bottom: 0;
    }
}