.about-section {
    padding: 20px 0;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 0 auto;
        padding: 20px;
        background: rgba($primary-light, 0.1);
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        min-height: 100dvh;
        animation: startAbout 1s ease;
    }

    &__left {
        flex: 1 1 60%;
        padding: 15px;
        border-left: 4px solid $accent;
        border-radius: 8px;

    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        @include text;
        font-weight: bold;
    }

    &__text {
        @include text;
        text-align: justify;
    }

    &__right {
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        background-color: $unactive;
        border-radius: 8px;
    }

    @media (max-width: 768px) {
        &__inner {
            flex-direction: column;
        }
    
        &__left,
        &__right {
            flex: 1 1 100%;
            width: 100%;
        }
    }
}
   
@keyframes startAbout {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}