.button_close {
    padding: 10px;
    font-size: 1rem;
    color: $primary-light;
    background-color: $extra;
    border-radius: 5px;
    width: max-content;
}

.about_card__button_close {
    margin: auto auto 0;
}