.footer {
    width: 100%;
    background-color: var(--light-or-dark-side);
    box-shadow: 0 -20px 0 -15px $primary-dark;
    z-index: 1000;

    &__inner {
        padding: 20px 0;
        text-align: center;
        color: $primary-light;
    }
}
