.theme-toggle {
    position: relative;
    min-width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $primary-light;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 20px;
    z-index: 1000;
    transition: all 0.2s linear;

    &.active {
        background-color: $primary-dark;
    }

    &__icon {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            object-fit: cover;
            position: absolute;
            transition: all 0.5s ease;
            filter: drop-shadow(0 0 1px black);
        }
    }

    &__icon_light {
        img {
            margin-bottom: 0;
            opacity: 1;
            &.active {
                margin-bottom: 45px;
                opacity: 0.5;
            }
        }
    }

    &__icon_dark {
        img {
            margin-top: 45px;
            opacity: 0.5;
            &.active {
                margin-top: 0;
                opacity: 1;
            }
        }
    }

    @media (max-width: 650px) {
        margin-left: auto;
    }
}
