$primary-light: white;
$primary-dark: #282828;
$unactive: #f1f1f1;
$warning: orange;
$extra: orangered;
$accent: #4b0082;
$second: black;
$synthetic: rgb(48, 254, 48);
$accent-for-text: #f0f8ff;
$card-gradient-autobot: radial-gradient(circle, var(--light-or-dark-side), #414b50);
$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 24px;