.home-section {
    width: 100%;
    flex: 1 1 auto;

    &__inner {
        width: 100%;
        animation: startHome 1s ease;
    }

    .home-section__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background: rgba($primary-light, 0.1);
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
        
    }

    &__text-block {
        margin-bottom: 20px;
        flex: 1 1 100%;
        background-color: var(--light-or-dark-side);
        padding: 15px;
        border-radius: 8px;
        p {
            @include text;
            color: $primary-light;
        }
        a {
            @include link;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@keyframes startHome {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
