.search {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 50px;
    height: 40px;
    padding: 0 40px;
    padding-left: 10px;
    background-color: white;
    margin-left: 30px;
    overflow: hidden;
    z-index: 1000;

    &__button {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        background-color: var(--light-or-dark-side);
        width: 30px;
        aspect-ratio: 1;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 900;
        font-size: 1rem;
        visibility: hidden;
        opacity: 0;
        transition: all 0.1s ease;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    @media (max-width: 850px) {
        width: 100%;
    }
    @media (max-width: 550px) {
        width: 150px;
        margin-left: 10px;
    }
}
