.card {
    position: relative;
    border-radius: 12px;
    transition:
        box-shadow 0.5s ease,
        transform 0.5s ease,
        opacity 0.5s ease;
    border: 1px solid var(--light-or-dark-side);
    box-shadow: 5px 5px 0px var(--light-or-dark-side);
    overflow: hidden;
    cursor: pointer;
    z-index: 777;

    &:not(.show) {
        transform: translateY(50px);
        opacity: 0;
    }

    &.show {
        transform: translateY(0);
        opacity: 1;
    }

    &:hover {
        box-shadow: 0px 0px 0px var(--light-or-dark-side);
        transform: translate(5px, 5px);
    }
    &:hover > .wrapper_card_img img {
        transform: scale(1.05);
    }

    &__image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        background-color: $primary-dark;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: transform 0.5s ease;
            color: $primary-light;
        }
    }

    &__name {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: clamp(0.75rem, 3vw, 1.5rem);
        color: $primary-light;
        text-wrap: nowrap;
        text-shadow: 1px 1px 3px black;
    }

    &__icon {
        margin: auto;
        font-size: 3rem;
        color: $primary-light;
    }
}
