@import '../../sass/base/colors.scss';

.button_close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 2rem;
    color: $primary-light;
}

.about_card__button_close {
    position: absolute;
    right: 0;
    top: 0;
}