@import url('https://fonts.googleapis.com/css?family=Tektur');
@import './sass/base/colors.scss';
// @font-face {
//     font-family: font-family;
//     src: url('https://fonts.googleapis.com/css?family=Tektur');
// }

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Tektur', sans-serif;
    letter-spacing: .1rem;
    line-height: 1.05rem;
}

*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #8fabdb;
}

*::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #465775;
}

body {
    background-color: $primary-light;
    transition: background .2s ease;
    overflow-x: hidden;
}

body #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.scrollBarHide {
    overflow-y: hidden;
}

.container {
    $padding: 15px;
    max-width: calc(1440px + $padding);
    margin: 0 auto;
    padding: 0 $padding;
}

button {
    outline: none;
    border-radius: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input {
    outline: none;
    border: none;
    border-radius: none;
    background-color: transparent;
    &::placeholder {
        font-family: 'Geologica', sans-serif;
    }
}

.section {
    padding: 50px 0;
}