$primary-light: white;
$primary-dark: #282828;
$unactive: #f1f1f1;
$warning: orange;
$extra: orangered;
$accent: #4B0082;
$autobot: rgb(0, 88, 252);
$decepticon: red;
$second: black;
$synthetic: rgb(48, 254, 48);
$accent-for-text: #f0f8ff;
$card-gradient-autobot: radial-gradient(circle, $autobot, #414b50);
$card-gradient-decepticon: radial-gradient(circle, $decepticon, #414b50);